<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Command Name</th>
        <th scope="col">Usage</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        </tr><tr>
          <td colspan="6" id="category"><center><strong> Other Commands</strong></center></td>
          </tr>
        <tr><th scope="row">1.</th>
        <td>help</td>
        <td>-menu</td>
        <td>Get the list commands, or information about.</td>
      </tr>
      <tr>
        <th scope="row">2.</th>
        <td>avatar</td>
        <td>-avatar [user]</td>
        <td>Send to you avatar image of the user.</td>
      </tr>
      <tr>
        <th scope="row">6.</th>
        <td>dev</td>
        <td>-devs</td>
        <td>Get the developers information</td>
      </tr>
      <tr>
        <th scope="row">9.</th>
        <td>membercount</td>
        <td>-counter</td>
        <td>Show the members count of the server.</td>
      </tr>
</tbody>
<%- include('partials/footer') -%> 
