<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
       <h1> Welcome back, <%= username %></h1>
      </a>
    </div>
  
    <a class="navbar-item">
      <form action="/dashboard/">
            <button class="navbar-item" type="submit">Home</button>
          </form>
      
    </a>
  
        <a class="navbar-item">
          <form action="/dashboard/commands">
                <button class="navbar-item" type="submit">Commands</button>
              </form>
          
        </a>
  

      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <div class="my-logout-button">
                <form action="/auth/logout">
                <button class="button is-primary is-rounded my-custom-button" type="submit">Logout</button>
              </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </nav>